
### Git Repo ###
/*
!.gitignore
!README.md

### Git Config ###
!.gitconfig

### SH ###
!.profile
!.profile.d/
!.aliases

### ZSH ###
!.zshrc
!.zshrc.d/
!.zprofile

### Scripts ###
!bin/
bin/*
!bin/fix-clock